<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_onepage_controller_success_action">
        <observer name="PHP10E2OrderAccrualLoyaltyPoints" instance="PHP10E2\LoyaltyPoints\Observer\Order\AccrualLoyaltyPoints" />
        <observer name="PHP10E2OrderDebitingLoyaltyPoints" instance="PHP10E2\LoyaltyPoints\Observer\Order\DebitingLoyaltyPoints" />
    </event>
    <event name="sales_model_service_quote_submit_before">
        <observer name="sr_delivery_date" instance="PHP10E2\LoyaltyPoints\Observer\Order\SaveDataToOrderObserver"/>
    </event>
</config>